<div class="row">
  <h1> HARD SKILLS</h1>
  <div class ="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="85"
  [radius]="100"
  [imageSrc]="'../assets/javascript2.png'"
  [showImage]="true"
  [imageHeight]="90"
  [imageWidth]="90"
  [showUnits]="false"
  [title]="'HTML'"
  [titleColor]="'BLACK'"
  [titleFontSize]="'2em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#6CC1C1'"
  [innerStrokeColor]="'#191919'"
  [animation]="true"
  [animationDuration]="300"
  [lazy]="true"
  ></circle-progress>
  </div>
  <div class ="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="85"
  [radius]="100"
  [imageSrc]="'../assets/html.png'"
  [showImage]="true"
  [imageHeight]="90"
  [imageWidth]="90"
  [showUnits]="false"
  [title]="'HTML'"
  [titleColor]="'BLACK'"
  [titleFontSize]="'2em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#6CC1C1'"
  [innerStrokeColor]="'#191919'"
  [animation]="true"
  [animationDuration]="300"
  ></circle-progress>
  </div>
  <div class ="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="85"
  [radius]="100"
  [imageSrc]="'../assets/CSS.png'"
  [showImage]="true"
  [imageHeight]="90"
  [imageWidth]="90"
  [showUnits]="false"
  [title]="'HTML'"
  [titleColor]="'BLACK'"
  [titleFontSize]="'2em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#6CC1C1'"
  [innerStrokeColor]="'#191919'"
  [animation]="true"
  [animationDuration]="300"
  [lazy]="true"
  ></circle-progress>
  </div>
  <div class ="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="85"
  [radius]="100"
  [imageSrc]="'../assets/bootstrap.png'"
  [showImage]="true"
  [imageHeight]="90"
  [imageWidth]="90"
  [showUnits]="false"
  [title]="'HTML'"
  [titleColor]="'BLACK'"
  [titleFontSize]="'2em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#6CC1C1'"
  [innerStrokeColor]="'#191919'"
  [animation]="true"
  [animationDuration]="300"
  [lazy]="true"
  ></circle-progress>
  </div>
  <div class ="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="85"
  [radius]="100"
  [imageSrc]="'../assets/angular.png'"
  [showImage]="true"
  [imageHeight]="90"
  [imageWidth]="90"
  [showUnits]="false"
  [title]="'HTML'"
  [titleColor]="'BLACK'"
  [titleFontSize]="'2em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#6CC1C1'"
  [innerStrokeColor]="'#191919'"
  [animation]="true"
  [animationDuration]="300"
  [lazy]="true"
  ></circle-progress>
  </div>
  <div class ="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="85"
  [radius]="100"
  [imageSrc]="'../assets/typescript.png'"
  [showImage]="true"
  [imageHeight]="90"
  [imageWidth]="90"
  [showUnits]="false"
  [title]="'HTML'"
  [titleColor]="'BLACK'"
  [titleFontSize]="'2em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#6CC1C1'"
  [innerStrokeColor]="'#191919'"
  [animation]="true"
  [animationDuration]="300"
  [lazy]="true"
  ></circle-progress>
  </div>
  <div class ="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="85"
  [radius]="100"
  [imageSrc]="'../assets/java.png'"
  [showImage]="true"
  [imageHeight]="90"
  [imageWidth]="90"
  [showUnits]="false"
  [title]="'HTML'"
  [titleColor]="'BLACK'"
  [titleFontSize]="'2em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#6CC1C1'"
  [innerStrokeColor]="'#191919'"
  [animation]="true"
  [animationDuration]="300"
  [lazy]="true"
  ></circle-progress>
  </div>
  <div class ="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="85"
  [radius]="100"
  [imageSrc]="'../assets/SQL2.png'"
  [showImage]="true"
  [imageHeight]="90"
  [imageWidth]="90"
  [showUnits]="false"
  [title]="'HTML'"
  [titleColor]="'BLACK'"
  [titleFontSize]="'2em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#6CC1C1'"
  [innerStrokeColor]="'#191919'"
  [animation]="true"
  [animationDuration]="300"
  [lazy]="true"
  ></circle-progress>
  </div>
  <div class ="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="85"
  [radius]="100"
  [imageSrc]="'../assets/SpringBoot.png'"
  [showImage]="true"
  [imageHeight]="90"
  [imageWidth]="90"
  [showUnits]="false"
  [title]="'HTML'"
  [titleColor]="'BLACK'"
  [titleFontSize]="'2em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#6CC1C1'"
  [innerStrokeColor]="'#191919'"
  [animation]="true"
  [animationDuration]="300"
  [lazy]="true"
  ></circle-progress>
  </div>
<h1>SOFT SKILLS</h1>
<div class ="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
[percent]="95"
[radius]="100"
[showImage]="false"
[imageHeight]="90"
[imageWidth]="90"
[showUnits]="false"
[title]="'Trabajo en Equipo'"
[subtitle]="'95%'"
[showSubtitle]="true"
[titleColor]="'BLACK'"
[subtitleColor]="'black'"
[titleFontSize]="'1.2em'"
[subtitleFontSize]="'1em'"
[showInnerStroke]="true"
[showZeroOuterStroke]="true"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#6CC1C1'"
[outerStrokeGradientStopColor]="'#53a9ff'"
[outerStrokeGradient]="true"
[innerStrokeColor]="''"
[animation]="true"
[animationDuration]="300"
[lazy]="true"
></circle-progress>
</div>
<div class ="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
[percent]="95"
[radius]="100"
[showImage]="false"
[imageHeight]="90"
[imageWidth]="90"
[showUnits]="false"
[title]="'Colaboración'"
[subtitle]="'95%'"
[showSubtitle]="true"
[titleColor]="'BLACK'"
[subtitleColor]="'black'"
[titleFontSize]="'1.3em'"
[subtitleFontSize]="'1em'"
[showInnerStroke]="true"
[showZeroOuterStroke]="true"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#6CC1C1'"
[outerStrokeGradientStopColor]="'#53a9ff'"
[outerStrokeGradient]="true"
[innerStrokeColor]="''"
[animation]="true"
[animationDuration]="300"
[lazy]="true"
></circle-progress>
</div>
<div class ="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
[percent]="95"
[radius]="100"
[showImage]="false"
[imageHeight]="90"
[imageWidth]="90"
[showUnits]="false"
[title]="'Productividad'"
[subtitle]="'95%'"
[showSubtitle]="true"
[titleColor]="'BLACK'"
[subtitleColor]="'black'"
[titleFontSize]="'1.3em'"
[subtitleFontSize]="'1em'"
[showInnerStroke]="true"
[showZeroOuterStroke]="true"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#6CC1C1'"
[outerStrokeGradientStopColor]="'#53a9ff'"
[outerStrokeGradient]="true"
[innerStrokeColor]="''"
[animation]="true"
[animationDuration]="300"
[lazy]="true"
></circle-progress>
</div>
<div class ="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
[percent]="95"
[radius]="100"
[showImage]="false"
[imageHeight]="90"
[imageWidth]="90"
[showUnits]="false"
[title]="'Comunicación Efectiva'"
[subtitle]="'95%'"
[showSubtitle]="true"
[titleColor]="'BLACK'"
[subtitleColor]="'black'"
[titleFontSize]="'1.1em'"
[subtitleFontSize]="'1em'"
[showInnerStroke]="true"
[showZeroOuterStroke]="true"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#6CC1C1'"
[outerStrokeGradientStopColor]="'#53a9ff'"
[outerStrokeGradient]="true"
[innerStrokeColor]="''"
[animation]="true"
[animationDuration]="300"
[lazy]="true"
></circle-progress>
</div>
<div class ="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
[percent]="95"
[radius]="100"
[showImage]="false"
[imageHeight]="90"
[imageWidth]="90"
[showUnits]="false"
[title]="'Gestión del Tiempo'"
[subtitle]="'95%'"
[showSubtitle]="true"
[titleColor]="'BLACK'"
[subtitleColor]="'black'"
[titleFontSize]="'1.2em'"
[subtitleFontSize]="'1em'"
[showInnerStroke]="true"
[showZeroOuterStroke]="true"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#6CC1C1'"
[outerStrokeGradientStopColor]="'#53a9ff'"
[outerStrokeGradient]="true"
[innerStrokeColor]="''"
[animation]="true"
[animationDuration]="300"
[lazy]="true"
></circle-progress>
</div>
<div class ="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
[percent]="95"
[radius]="100"
[showImage]="false"
[imageHeight]="90"
[imageWidth]="90"
[showUnits]="false"
[title]="'Servicio al Cliente'"
[subtitle]="'95%'"
[showSubtitle]="true"
[titleColor]="'BLACK'"
[subtitleColor]="'black'"
[titleFontSize]="'1.2em'"
[subtitleFontSize]="'1em'"
[showInnerStroke]="true"
[showZeroOuterStroke]="true"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#6CC1C1'"
[outerStrokeGradientStopColor]="'#53a9ff'"
[outerStrokeGradient]="true"
[innerStrokeColor]="''"
[animation]="true"
[animationDuration]="300"
[lazy]="true"
></circle-progress>
</div>
</div>
