<div class="row">
  <h1> HARD SKILLS AND SOFT SKILLS</h1>
  <div class ="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="85"
  [radius]="100"
  [imageSrc]="'../assets/javascript2.png'"
  [showImage]="true"
  [imageHeight]="90"
  [imageWidth]="90"
  [showUnits]="false"
  [title]="'HTML'"
  [titleColor]="'BLACK'"
  [titleFontSize]="'2em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#6CC1C1'"
  [innerStrokeColor]="'#191919'"
  [animation]="true"
  [animationDuration]="300"
  ></circle-progress>
  </div>
  <div class ="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="85"
  [radius]="100"
  [imageSrc]="'../assets/javascript2.png'"
  [showImage]="true"
  [imageHeight]="90"
  [imageWidth]="90"
  [showUnits]="false"
  [title]="'HTML'"
  [titleColor]="'BLACK'"
  [titleFontSize]="'2em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#6CC1C1'"
  [innerStrokeColor]="'#191919'"
  [animation]="true"
  [animationDuration]="300"
  ></circle-progress>
  </div>
  <div class ="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="85"
  [radius]="100"
  [imageSrc]="'../assets/javascript2.png'"
  [showImage]="true"
  [imageHeight]="90"
  [imageWidth]="90"
  [showUnits]="false"
  [title]="'HTML'"
  [titleColor]="'BLACK'"
  [titleFontSize]="'2em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#6CC1C1'"
  [innerStrokeColor]="'#191919'"
  [animation]="true"
  [animationDuration]="300"
  ></circle-progress>
  </div>
  <div class ="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="85"
  [radius]="100"
  [imageSrc]="'../assets/javascript2.png'"
  [showImage]="true"
  [imageHeight]="90"
  [imageWidth]="90"
  [showUnits]="false"
  [title]="'HTML'"
  [titleColor]="'BLACK'"
  [titleFontSize]="'2em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#6CC1C1'"
  [innerStrokeColor]="'#191919'"
  [animation]="true"
  [animationDuration]="300"
  ></circle-progress>
  </div>
  <div class ="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="85"
  [radius]="100"
  [imageSrc]="'../assets/javascript2.png'"
  [showImage]="true"
  [imageHeight]="90"
  [imageWidth]="90"
  [showUnits]="false"
  [title]="'HTML'"
  [titleColor]="'BLACK'"
  [titleFontSize]="'2em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#6CC1C1'"
  [innerStrokeColor]="'#191919'"
  [animation]="true"
  [animationDuration]="300"
  ></circle-progress>
  </div>
  <div class ="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="85"
  [radius]="100"
  [imageSrc]="'../assets/javascript2.png'"
  [showImage]="true"
  [imageHeight]="90"
  [imageWidth]="90"
  [showUnits]="false"
  [title]="'HTML'"
  [titleColor]="'BLACK'"
  [titleFontSize]="'2em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#6CC1C1'"
  [innerStrokeColor]="'#191919'"
  [animation]="true"
  [animationDuration]="300"
  ></circle-progress>
  </div>
</div>
