<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto.jpg" class="img-fluid" id="foto">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Smailliw Adonis Arrillaga González</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Un poco sobre mí</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut iusto vitae mollitia sed at aperiam reprehenderit, blanditiis totam, dicta natus excepturi ipsa cumque. Minus consequuntur tempora at commodi, maiores qui!</p>
        </span>
    </div>
</div>
