<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="social">
            <div>
                <a href="https://www.linkedin.com/in/bysmy/"><img src="../../../assets/linkedin.png" id="linkedin"></a>
                <a href="https://www.facebook.com/smailliw.arrillaga"><img src="../../../assets/facebook.png" id="facebook"></a>
                <a href="https://github.com/SmyDeveloper"><img src="../../../assets/github.png" id="github"></a>
                <a href="https://www.instagram.com/smyarrillaga/"><img src="../../../assets/instagram.png" id="instagram"></a>
                <a href="https://twitter.com/criptosmy"><img src="../../../assets/twitter.png" id="twitter"></a>
                <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged"><b>INGRESAR</b></button>
                <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged"><b>CERRAR SESION</b></button>
            </div>            
        </div>
    </div>
</div>




